# usage: git shortlog -se
#
# This file is sorted alphabetically.
#
MarcoAurelio <30000615+MarcoAurelioWM@users.noreply.github.com>
rxy <github@rxy.jp>
rxy <github@rxy.jp> <rxy+github@rxy.jp>
rxy <github@rxy.jp> <rxy@rxy.jp>
rxy <github@rxy.jp> <ryu@hosiryuhosi.jp>
Timo Tijhof <krinklemail@gmail.com>
