<?xml version="1.0" encoding="utf-8"?>
<!--
	 .NET application configuration file

	 Documentation: https://logging.apache.org/log4net/release/config-examples.html

	 This file must have the same name as your application, with .config appended to it.
-->
<configuration>
	<configSections>
		<section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
	</configSections>
	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout" value="%date %-5level [%thread] %logger [%property{Nick}] %message%newline" />
		</appender>
		<appender name="LocalSyslogAppender" type="log4net.Appender.LocalSyslogAppender">
			<layout type="log4net.Layout.PatternLayout" value="%-5level [%thread] %logger [%property{Nick}] %message%newline" />
		</appender>
		<root>
			<level value="INFO" />
			<appender-ref ref="ConsoleAppender" />
			<appender-ref ref="LocalSyslogAppender" />
		</root>
	</log4net>
</configuration>
