# This is a basic workflow to help you get started with Actions

name: notify

on:
  - push

jobs:
  irc:
    runs-on: ubuntu-latest
    if: github.repository == 'countervandalism/CVNBot'
    steps:
    - name: Set env
      # Strip leading prefix if ref is a simple branch
      run: echo TMP_REF="${GITHUB_REF#'refs/heads/'}" >> $GITHUB_ENV
    - name: Notify IRC
      uses: rectalogic/notify-irc@v1
      if: github.event_name == 'push'
      with:
        channel: "#cvn-bots"
        nickname: GitHub
        message: "${{ github.actor }} pushed to ${{ github.repository }}#${{ env.TMP_REF }} - ${{ github.event.compare }}"

